		<!-- ==============================================
		MAIN NAV
		=============================================== -->
		<div id="main-nav" class="navbar navbar-fixed-top">
			<div class="container">

				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>

					<!-- ======= LOGO (for small screens)========-->
					<a class="navbar-brand visible-xs scrollto" href="#home">RYvan</a>

				</div>

				<div id="site-nav" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="#about" class="scrollto">{{ lang.menu.about }}</a>
						</li>
						<li>
							<a href="#skills" class="scrollto">{{ lang.menu.skills }}</a>
						</li>
						<li id="logo">
							<a href="#home" class="scrollto">
								<h1>R<span>Y</span></h1>
							</a>
						</li>
						<li>
							<a href="#experiences" class="scrollto">{{ lang.menu.works }}</a>
						</li>
						<li>
							<a href="#contact" class="scrollto">{{ lang.menu.contact }}</a>
						</li>
					</ul>
				</div><!--End navbar-collapse -->

			</div><!--End container -->

		</div><!--End main-nav -->
