<!-- ==============================================
		PORTFOLIO
		=============================================== -->
		<section id="portfolio" class="gray-bg padding-top-bottom">

			<div class="container">

				<header class="section-header text-center">

					<h1 class="scrollimation scale-in">Mes travaux</h1>
					<p>Vous pouvez trouver ici quelques uns de mes derniers travaux.<br/> Enjoy!</p>

				</header>

				<!--==== Portfolio Filters ====-->
				<div id="filter-works">
					<ul>
						<li class="active scrollimation fade-right d1">
							<a href="#" data-filter="*">Tous</a>
						</li>
						<li class="scrollimation fade-right">
							<a href="#" data-filter=".Web">Web</a>
						</li>
						<li class="scrollimation fade-left">
							<a href="#" data-filter=".Software">Logiciel</a>
						</li>
						<li class="scrollimation fade-right">
							<a href="#" data-filter=".Other">Autre</a>
						</li>
					</ul>
				</div><!--End portfolio filters -->

			</div><!--End portfolio header -->
